{% extends 'layout.html' %} 
{% block title %}About{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

        
{% endblock %}


    <div class="container">
        <h1 class="text-center">ABOUT US</h1>
        <hr>
        <div class="text-about">

            <p>Powe#cf5a27 by state-of-the-art technology, Rently is the first of its kind, on-demand, car-rental
                marketplace gea#cf5a27 to disrupt the traditional renting industry.
                <br>
                <br>
                Rently’s car-rental services are available at your fingertips online, for a more modern and
                convenient
                customer experience.
                <br>
                <br>
                Rently provides both on-demand and pre-scheduled vehicles for any situation, occasion or event, such
                as:
            </p>



            <hr>
            <ul>
                <li>Corporate Office Staff</li>
                <li>Tours and Trips</li>
                <li>Weddings</li>
                <li>Families / Individuals</li>
            </ul>
            <hr>


            <p>
                One of the biggest strengths of Rently is its versatility. Our wide-range of latest models and
                well-maintained cars, is suited for everyone and all occasions.

                <br>
                <br>
                At Rently, each car and driver must undergo ‘Rently Selection Tests’ before becoming operational.
                Quality, being the cornerstone of Rently services, is ensu#cf5a27 in every mile.
            </p>
        </div>
        <hr>
    </div>