<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/slider.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/book-now.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="header_top">
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    <a class="navbar-brand" href="index.html"><img src="/static/images/logo/logo.png" alt=""></a>

                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="nav-links">
                <a class="nav-link" href="about.html">About Us <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="search-car.html">Search A Car</a>
                <a class="nav-link" href="corporate-enquiries.html">Corporate Enquiries</a>
                <a class="nav-link" href="our-clients.html">Our Client</a>

                <a class="nav-link" href="contact.html">Contact Us</a>
                <a class="nav-link" href="blog.html">Blog</a>
                <div class="dropdown">
                    <a class="nav-link" href="#" class="dropbtn"><i class="fa fa-caret-down"></i> My Account</a>
                    <div class="dropdown-content">
                        <a href="userprofile.html">My Profile</a>
                        <a href="mybookings.html">My Booking</a>
                        <a href="#">Sign Out</a>
                    </div>
                </div>



            </div>
        </div>

        <form id="stepped" action="#" method="post">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h1 class="text-center py-3">You selected Short Rental Booking Type.</h1>
                    </div>
                    <div class="col-md-10">
                        <div class="indicators d-flex justify-content-around py-4 text-light">
                            <div class="rounded-circle bg-secondary px-2 shadow-sm mr-2">1 Pick-Up</div>
                            <div class="rounded-circle bg-secondary px-2 shadow-sm mr-2">2 Drop-Off</div>
                            <div class="rounded-circle bg-secondary px-2 shadow-sm mr-2">3 Base Renta</div>
                            <div class="rounded-circle bg-secondary px-2 shadow-sm">
                                4 Confirmation</div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="fix-height position-relative">
                            <div class="steps">
                                <div class="row justify-content-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inp1">Enter Your Pick-Up Date</label>
                                            <input type="DATE" id="inp1" class="form-control">


                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inp12">Time</label>
                                            <input type="time" name="time" id="inp12" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inp2"> Enter Your Location by clicking on the pin icon</label>
                                    <input type="text" id="inp2" class="form-control"
                                        placeholder="Enter Your Location by clicking on the pin icon">
                                </div>
                                <div class="form-group">
                                    <label for="inp2">Additional Pick-Up Description</label>
                                    <input type="text" id="inp2" class="form-control"
                                        placeholder="Additional Pick-Up Description">
                                </div>

                            </div>
                            <div class="steps">
                                <div class="form-group">
                                    <label for="inp2"> Enter Your Location by clicking on the pin icon</label>
                                    <input type="text" id="inp2" class="form-control"
                                        placeholder="Enter Your Location by clicking on the pin icon">
                                </div>
                                <div class="form-group">
                                    <label for="inp2">Additional Drop-Off Description</label>
                                    <input type="text" id="inp2" class="form-control"
                                        placeholder="Additional Pick-Up Description">
                                </div>
                            </div>
                            <div class="steps">
                                <!-- <div class="form-group">
                                    <label for="inp3">Label 3</label>
                                    <input type="text" id="inp3" class="form-control">
                                </div> -->
                                <div class="row">
                                    <div class="col-6 col-sm-3">
                                        <h6>Pick-Up <a href="">Edit</a> </h6>
                                        <p>16 A, Pakistan Employees
                                            <br> Co-Operative...
                                        <p>Jun 21, 2022, 3:07 PM</p>
                                        <h6>Booking Type: general</h6>
                                        </p>
                                        <div class="img">
                                            <img src="/static/images/cars/1581613723188-civic.png" class="img-fluid"
                                                alt="">
                                        </div>

                                    </div>
                                    <div class="col-6 col-sm-3">
                                        <h6>Pick-Up <a href="">Edit</a> </h6>
                                        <p>16 A, Pakistan Employees
                                            <br> Co-Operative...
                                        <p>Jun 21, 2022, 3:07 PM</p>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">FULL DAY</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">SHORT RENTAL</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio3" name="customRadio"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio3">SELF DRIVE</label>
                                        </div>
                                        </p>

                                        <h3>
                                            HONDA Civic</h3>
                                    </div>
                                    <div class="col-6 col-sm-3">
                                        <p>Rate / day</p>
                                        <p>Fuel / kilometer *</p>
                                        <p>Base Fare</p>
                                        <p>Overtime / hour</p>
                                        <p>No. of Days</p>
                                        <P>Discount Code (if any)</P>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio5" name="customRadio4"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio5">In City</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio4" name="customRadio4"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio4">Out City</label>
                                        </div>
                                        <p>Amount Payable
                                            *Excluding fuel & overtime charges
                                            (charges - view details )</p>

                                    </div>
                                    <div class="col-6 col-sm-3">
                                        <p>PKR. 4,750</p>
                                        <p>PKR. 28</p>
                                        <p>PKR. 0</p>
                                        <p>PKR. 250</p>
                                        <P>1</P>
                                        <a href="">Promo code</a>
                                        <h6>PKR. 4,750</h6>


                                    </div>

                                </div>
                            </div>
                            <div class="steps">
                                <!-- <div class="form-group">
                                    <label for="inp4">Label 4</label>
                                    <input type="text" id="" class="form-control">
                                </div> -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1 inp4">
                                    <label class="custom-control-label" for="customCheck1 inp4">Kindly note that the
                                        Fuel Charges and Overtime will be applied based on the mileage of the car and
                                        extra hours of the services (if any).Your final invoice will be generated after
                                        adding the Fuel and Overtime charges at the end of your reservation. For more
                                        details please read the Fuel and Overtime charges and terms of use.”</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 text-right">
                        <button type="button" class="btnPrev btn btn-outline-danger">Prev</button>
                        <button type="button" class="btnNext btn btn-outline-danger">Next</button>
                    </div>
                </div>
            </div>
        </form>

    </section>





    <div class="top_footer">

    </div>

    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>1010 Avenue, sw 54321, chandigarh</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>9876543210 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>mail@info.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="/static/images/logo/logo.png" class="img-fluid"
                                        alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                                    incididuntut consec
                                    tetur adipisicing
                                    elit,Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h5>Useful Links</h5>
                            </div>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About US</a></li>
                <li><a href="search-car.html">Search A Car</a></li>
                <li><a href="corporate-enquiries.html">Corporate Enquiries</a></li>
                <li><a href="our-clients.html">Our Client</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="sign.html">Registration</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h5>Subscribe</h5>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" id="email" name="email" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2018, All Right Reserved <a href="">Webtrica</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        $(".slider").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000, //2000ms = 2s;
            autoplayHoverPause: true,
        });
    </script>

    <script src="/static/js/slider.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            class MultiStep {
                constructor(formId) {
                    let myForm = document.querySelector(formId),
                        steps = myForm.querySelectorAll(".steps"),
                        btnPrev = myForm.querySelector(".btnPrev"),
                        btnNext = myForm.querySelector(".btnNext"),
                        indicators = myForm.querySelectorAll(".rounded-circle"),
                        inputClasses = ".form-control",
                        currentTab = 0;

                    // we'll need 4 different functions to do this
                    showTab(currentTab);

                    function showTab(n) {
                        steps[n].classList.add("active");
                        if (n == 0) {
                            btnPrev.classList.add("hidden");
                            btnPrev.classList.remove("show");
                        } else {
                            btnPrev.classList.add("show");
                            btnPrev.classList.remove("hidden");
                        }
                        if (n == steps.length - 1) {
                            btnNext.textContent = "Confirm ";
                        } else {
                            btnNext.textContent = "Next";
                        }
                        showIndicators(n);
                    }

                    function showIndicators(n) {
                        for (let i = 0; i < indicators.length; i++) {
                            indicators[i].classList.replace("bg-danger", "bg-success");
                        }
                        indicators[n].className += " bg-danger";
                    }

                    function clickerBtn(n) {
                        if (n == 1 && !validateForm()) return false;
                        steps[currentTab].classList.remove("active");
                        currentTab = currentTab + n;
                        if (currentTab >= steps.length) {
                            myForm.submit();
                            return false;
                        }
                        showTab(currentTab);
                    }
                    // Do whatever validation you want
                    function validateForm() {
                        let input = steps[currentTab].querySelectorAll(inputClasses),
                            valid = true;
                        for (let i = 0; i < input.length; i++) {
                            if (input[i].value == "") {
                                if (!input[i].classList.contains("invalid")) {
                                    input[i].classList.add("invalid");
                                }
                                valid = false;
                            }
                            if (!input[i].value == "") {
                                if (input[i].classList.contains("invalid")) {
                                    input[i].classList.remove("invalid");
                                }
                            }
                        }
                        return valid;
                    }
                    btnPrev.addEventListener("click", () => {
                        clickerBtn(-1);
                    });
                    btnNext.addEventListener("click", () => {
                        clickerBtn(1);
                    });
                }
            }
            let MS = new MultiStep("#stepped");
        });

    </script>


</body>

</html>