<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/slider.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/book-now.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {



            /* by default hide all radio_content div elements except first element */
            $(".content .radio_content").hide();
            $(".content .radio_content:first-child").show();

            /* when any radio element is clicked, Get the attribute value of that clicked radio element and show the radio_content div element which matches the attribute value and hide the remaining tab content div elements */
            $(".radio_wrap").click(function () {
                var current_raido = $(this).attr("data-radio");
                $(".content .radio_content").hide();
                $("." + current_raido).show();
            })

        });
    </script>
</head>

<body>
    <section class="header_top">
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    <a class="navbar-brand" href="index.html"><img src="/static/images/logo/logo.png" alt=""></a>

                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="nav-links">
                <a class="nav-link" href="about.html">About Us <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="search-car.html">Search A Car</a>
                <a class="nav-link" href="corporate-enquiries.html">Corporate Enquiries</a>
                <a class="nav-link" href="our-clients.html">Our Client</a>

                <a class="nav-link" href="contact.html">Contact Us</a>
                <a class="nav-link" href="blog.html">Blog</a>
                <div class="dropdown">
                    <a class="nav-link" href="#" class="dropbtn"><i class="fa fa-caret-down"></i> My
                        Account</a>
                    <div class="dropdown-content">
                        <a href="userprofile.html">My Profile</a>
                        <a href="mybookings.html">My Booking</a>
                        <a href="#">Sign Out</a>
                    </div>
                </div>



            </div>
        </div>
        <div class="wrapper">
            <div class="radio_tabs">
                <label class="radio_wrap" data-radio="radio_1">
                    <input type="radio" name="sports" class="input" checked>
                    <span class="radio_mark">
                        Active 
                    </span>
                </label>
                <label class="radio_wrap" data-radio="radio_2">
                    <input type="radio" name="sports" class="input">
                    <span class="radio_mark">
                        Scheduled
                    </span>
                </label>
                <label class="radio_wrap" data-radio="radio_3">
                    <input type="radio" name="sports" class="input">
                    <span class="radio_mark">
                        History
                    </span>
                </label>
               
            </div>

            <div class="content">
                <div class="radio_content radio_1">
                 <div class="active">
                    <h2>No Active Ride</h2>
                 </div>
                </div>
                <div class="radio_content radio_2">
                    <div class="active">
                        <h2>No Booking Scheduled</h2>
                     </div>
                </div>
                <div class="radio_content radio_3">
                    <div class="active">
                        <h2>No Booking History</h2>
                     </div>
                </div>
          
            </div>
        </div>



    </section>





    <div class="top_footer">

    </div>

    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>1010 Avenue, sw 54321, chandigarh</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>9876543210 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>mail@info.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="/static/images/logo/logo.png" class="img-fluid"
                                        alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                                    incididuntut consec
                                    tetur adipisicing
                                    elit,Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h5>Useful Links</h5>
                            </div>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About US</a></li>
                <li><a href="search-car.html">Search A Car</a></li>
                <li><a href="corporate-enquiries.html">Corporate Enquiries</a></li>
                <li><a href="our-clients.html">Our Client</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="sign.html">Registration</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h5>Subscribe</h5>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" id="email" name="email" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2018, All Right Reserved <a href="">Webtrica</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- <script>
        $(".slider").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000, //2000ms = 2s;
            autoplayHoverPause: true,
        });
    </script> -->

    <script src="/static/js/slider.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- <script src="/static/js/jquery-3.2.1.slim.min.js"></script> -->
    <script src="/static/js/popper.min.js"></script>




</body>

</html>